html,body { 
    margin:0;
}

canvas {
    display:block;
	vertical-align:bottom;
}

#particles-js{
    height:100%;
    background:#ff9999
}

p {
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}  