@font-face {
    font-family: 'wireframeregular';
    src: url('../fonts/wireframe/wireframe-webfont.eot');
    src: url('../fonts/wireframe/wireframe-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wireframe/wireframe-webfont.woff2') format('woff2'),
         url('../fonts/wireframe/wireframe-webfont.woff') format('woff'),
         url('../fonts/wireframe/wireframe-webfont.ttf') format('truetype'),
         url('../fonts/wireframe/wireframe-webfont.svg#wireframeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'polar_vertexregular';
    src: url('../fonts/polarVertex/PolarVertex-Regular-webfont.eot');
    src: url('../fonts/polarVertex/PolarVertex-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/polarVertex/PolarVertex-Regular-webfont.woff2') format('woff2'),
         url('../fonts/polarVertex/PolarVertex-Regular-webfont.woff') format('woff'),
         url('../fonts/polarVertex/PolarVertex-Regular-webfont.ttf') format('truetype'),
         url('../fonts/polarVertex/PolarVertex-Regular-webfont.svg#polar_vertexregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

font-family: 'Press Start 2P', cursive;

html,body { 
    margin:0px;
    width: auto;
    height: auto;
    background: #ff9999;
}

canvas {
    display:block;
	vertical-align:bottom;

}

p {
    line-height: 1%;
}

#particles-js{
    height:100%;
    background:#ff9999
}

.blending {
    color: #ff9999;
    background-blend-mode: normal;
    z-index: -1;
}

.polar {
    color: #eeeeee;
    font-family: 'polar_vertexregular', Fallback, Helvetica;
    font-size: 96px;
    text-shadow: 2px 2px #663333;
}  

.eightBit{
    color: #eeeeee;
    font-family: 'Press Start 2P', Fallback, Helvetica;
    opacity: .75;
    font-size: 16px;
    text-shadow: 2px 2px #663333;
}  

.centered {
    text-align: center;
    display: block;
    margin: auto;

    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: -(306/2)px;
    margin-top: -(394/2)px;

}

#noClick {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}